$font-stack: Poppins, sans-serif;
$font-thin: 400;
$font-medium: 500;
$font-regular: 600;
$font-bold: 700;

$primary-red: hsl(0, 100%, 74%);
$primary-green: hsl(154, 59%, 51%);
$accent-blue: hsl(248, 32%, 49%);
$neutral-dark-blue: hsl(249, 10%, 26%);
$neutral-grayish-blue: hsl(246, 25%, 77%);
 
html, body {
  font: 100% $font-stack;
  width: 100%;
  height: 100%;
  background-image: url("./images/bg-intro-desktop.png");
  background-color: $primary-red;
}

.container {
  border: solid yellow 3px;
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;

}
.box1-intro {
  border: solid green 3px;
  display: flex;
  flex-direction: column;
  width: 450px;
  margin-right: 20px;
  color: rgb(244, 244, 244);
}
#text-intro {
  border: solid white 2px;
  font-size: 45px;
  font-weight: 700;
}
#text-summary {
  border: solid black 2px;
  margin-top: -5px;
}
.box2-form {
  border: solid rgb(113, 236, 123) 3px;
  display: flex;
  flex-direction: column;
  width: 450px;
}
.form {
  display: flex;
  flex-direction: column;
}
#button-trial {
  padding: 1%;
  border: solid goldenrod 2px;
  border-radius: 10px;
  background-color: $accent-blue;
  color:rgb(244, 244, 244);
  display: flex;
  flex-direction: row;
  justify-content: center;
}
#button-trial-title {
  font-weight: $font-regular;
}
#button-trial-summary {
  padding-left: 4px;
  font-weight: $font-thin;
  color: $neutral-grayish-blue;
}
.form {
  border: solid rgb(209, 41, 255) 4px;
  background-color: white;
  padding: 5%;
  border-radius: 10px;
}
input {
  padding: 2%;
  margin-bottom: 5px;
}